*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: "General Sans";
}

html,body{
    width: 100%;
    height: 100%;
}

#hero{
width: 100%;
height: 100vh;
background-color: #000000;
color: #fff;
}
#nav {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
}

#nav a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}
#heading{
    margin-top: 130px;
}

#heading h1{
  margin-left: 40px;
  opacity: .6;
  font-size: 11vw;
  text-transform: uppercase;
  line-height: 1;
  font-weight: 600;
  /* padding: 10px; */
}

#heading #secondh1{
  margin-left: 270px;
}

.blocktext{
    width: fit-content;
    /* background-color: red; */
}
.blocktext h5{
    text-align: right;
    text-transform: uppercase;
    font-size: 17px;
}

#chotiheading{
  margin-top: 140px;
  padding-right: 50px;
}
#chotiheading h5{
    text-transform: uppercase;
    text-align: right;
    margin-top: .15vw;
    font-size: 1vw;
}

#naya {
    width: 100%;
    position: absolute;
    bottom: -10%;
    padding: 0 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#naya a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}
#naya #iconset{
    display: flex;
    gap: 7px;
    margin-right: 25px;
}

#iconset .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: #888;
    border-radius: 50%;


}


/* by now we have completed first viewport i.e hero div
now moving to secnd part of page , animations */
#second{
    background-color: #000000;
    width: 100%;
    color: #fff;
    padding-right: 10vw;
    padding-top: 260px;
    padding-left: 30px;
}
.elem{  
    position: relative;
    width: 100%;
     padding: 3vw 2vw;  
    border-top: 1px solid #888;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding-right: 0;
    
}
.elem h1{
    text-transform: uppercase;
    font-size: 6vw ;
    opacity: .6;
}
 .elemlast{
 border-bottom: 1px solid #888;
} 
.elem img{
    z-index: 999;
    position: absolute;
    height: 140%;
    /* opacity: 0; */
    display: none;
}
#about{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    width: 100%;
    height: 300px;
    padding: 10vw 10vw;
    padding-top: 25%;
    gap: 50px;
    padding-left: 40vw;
    /* padding-bottom: 20%; */
}
 #textabout{
    width: 30rem;  
} 
 #textabout h4{
  text-transform: uppercase;
  opacity: .78;
  /* margin-bottom: 10px; */
  font-size: 0.9vw;
}
 #textabout p{
    line-height: 1.5;
    margin-bottom: 20px;
} 
#about img{
    width: 200px;
}
#textabout a{
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 100px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
}
#subscribe{
background-color: #000000;
color: #fff;
padding: 10% 20px;

}
#subscribe h4 {
    text-transform: uppercase;
    font-size: 13px;
    line-height: 20px;
    padding-top: 2px;
    padding-bottom: 5vw;
}
#subscribe h3{
 opacity: .6;
 font-size: 10px;
 font-weight: 3px;
 text-transform: uppercase;
 line-height: 16px;
 padding-bottom: 1px;
 padding-top: -10%;
}
#footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    color: #fff;
    padding: 10px 30px;
}
#footerleft{
    display: flex;
    gap: 20px;
}
#footerright{
    display: flex;
    gap: 20px;
}
#footerright a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}